@import url(global.css);

body {
    background-image: url(../images/background-movies-series.png);
    background-size: cover;
    height: 100vh;
}

.login__link {
    font-size: 16px;
    text-decoration: none;
    margin: 24px;
    letter-spacing: 0;
}

.login__container {
    max-width: 800px;
    background-color: var(--form-bg-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px;
    margin: auto;
}

.content {
    margin-top: 8rem;
    padding: 24px;
    color: var(--text-color);
}

@media screen and (min-width: 480px) {
    .content {
        margin-top: 4rem;
    }
}

.login__title {
    font-family: Raleway, sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 24px;
}

.login__form {
    background: var(--form-field-bg-color);
    border: var(--form-field-border);
    border-radius: 8px;
    color: var(--text-color);
    padding: 16px;
    font-size: 1rem;
}

.login__form::placeholder {
    color: var(--form-field-placeholder);
}

.login__form:invalid {
    border-color: var(--form-field-error);
}

.login__actions {
    margin-top: 24px;
    text-align: left;
}

@media screen and (max-width: 480px) {
    .login__link {
        margin: 0;
    }

    .button__login {
        display: block;
        margin-bottom: 24px;
    }
}