@import url(reset.css);

:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(
        45deg,
        #9b34ef 0%,
        #490cb0 20%,
        transparent 50%
    );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(
        90deg,
        #5516ba,
        rgba(255, 0, 229, 0.5) 80%
    );
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
}

/* Custom Scroll */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}
  
body {
    margin: 0;
    background-color: var(--primary-color);
}

nav {
    background-color: var(--nav-bg-color);
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav img {
    height: 1.5rem;
    padding-left: 1rem;
}

.button-font {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.button-font__small {
    font-size: 0.75rem;
    letter-spacing: 2px;
}

.button-design1 {
    background-color: transparent;
    border: none;
    padding: 8px 26px;
}

.button-design2 {
    background-color: var(--tertiary-color);
    border: none;
    border-radius: 500px;
    padding: 8px 26px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

header {
    color: var(--text-color);
    font-family: Raleway, sans-serif;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 100px 40px 300px;
    position: relative;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite alternate;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

header::after {
    content: "";
    width: 100%;
    height: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(0deg, var(--primary-color), transparent);
}

.title__small {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 2rem;
    margin: 0;
}

.title__big {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
}

.separator {
    width: 70%;
    max-width: 700px;
    height: 5px;
    margin: 0 2.5rem;
    background-image: var(--divider-bg-color);
}

.price * {
    margin: 0;
}

.price__subtitle {
    font-family: Quicksand, sans-serif;
    font-size: 1.25rem;
}

.price__value {
    font-family: Raleway, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.price__small {
    font-family: Raleway, sans-serif;
    font-size: 1rem;
}

.price__div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.btn__subscription {
    animation: wiggle 2.2s linear infinite;
}

@keyframes wiggle {
    0%, 10% {
        transform: rotate(0);
    }

    15% {
        transform: rotate(-15deg);
    }

    20% {
        transform: rotate(10deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(10deg);
    }

    35% {
        transform: rotate(-10deg);
    }

    40%, 100% {
        transform: rotate(0);
    }
}

.button-font__big {
    font-size: 1rem;
    letter-spacing: 5px;
}

button {
    cursor: pointer;
}

.button-menu {
    transition: background 1s, color 1s;
}

.button-menu:hover {
    background-color: var(--btn-link-bg-color);
    color: var(--btn-link-color);
}

.button-gradient {
    background-image: var(--btn-bg-color-gradient);
    background-color: transparent;
    border: none;
    border-radius: 500px;
    padding: 1rem 2.5rem;
    outline: 3px solid transparent;
    transition: background 1s, outline 1s, transform 1s;
    background-size: 250%;
}

.button-gradient:hover {
    background-color: transparent;
    background-position: 100%;
    outline: 2px solid var(--secondary-color);
    transform: scale(1.05);
}

.subtitle__small {
    font-family: Quicksand, sans-serif;
    max-width: 300px;
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
}

section {
    color: var(--text-color);
    padding: 24px;
    text-align: center;
}

.section__title {
    font-family: Raleway, sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.card {
    background-image: var(--card-bg-color);
    border-radius: 10px;
    padding: 40px 60px;
    max-width: 600px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    font-family: Raleway, sans-serif;
    font-size: 1.5rem;
}

.card__price {
    font-family: Raleway, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--secondary-color);
}

.card__price-small {
    font-family: Raleway, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-color);
}

.card__list-item {
    font-family: Raleway;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    padding-left: 14px;
    margin-bottom: 14px;
}

.card__list {
    padding: 0;
    margin-top: 16px;
}

li::marker {
    content: "+";
    font-size: 2rem;
}

.card__button {
    background-image: var(--btn-bg-color-gradient);
    background-color: transparent;
    border: none;
    border-radius: 500px;
    padding: 1rem 2.5rem;
    background-size: 250%;
}

.button-font__medium {
    font-size: 0.75rem;
    letter-spacing: 5px;
}

.content__image {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    transition: opacity 2s;
}

.content__card {
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid transparent;
    transition: transform 0.8s, background 0.8s, border 1s;
}

.films-gallery {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

@media screen and (max-width: 800px) {
    .films-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .films-gallery {
        grid-template-columns: repeat(6, 100%);
        grid-auto-flow: column;
        overflow: auto hidden;
    }

    header {
        margin-top: 128px;
    }
}

.footer__link {
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 14px 16px;
}

.footer__links {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media screen and (min-width: 480px) {
    .footer__links {
        display: block;
    }
}

footer {
    padding: 24px;
}

.links-font {
    font-family: Raleway, sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--link-color);
    transition: color 0.5s;
}

.links-font:hover {
    color: var(--text-color);
}

.footer__legal {
    font-family: Quicksand, sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 0.75rem;
    margin: 16px 0;
    color: var(--link-color);
}

.footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
}

#banners {
    padding: 24px;
    max-width: 1200px;
    margin: 100px auto;
}

#subscription {
    background: url(../images/background-movies-series.png) no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.subscription__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
}

.subscription__plans {
    margin: 40px 0;
    display: flex;
    justify-content: space-around;
    gap: 80px;
}

@media screen and (max-width: 1140px) {
    .subscription__plans {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1200px) {
    .subscription__plans {
        gap: 40px;
    }
}

@media screen and (min-width: 480px) {
    nav {
        padding-right: 20px;
        justify-content: space-between;
        height: 4rem;
    }

    header {
        margin-top: 60px;
    }

    .card__plan {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .card__price {
        font-size: 2rem;
    }

    .card__list-item {
        font-size: 1.25rem;
    }
}
